{% load static %}
<div class="container-fluid">

    <div class="row">
        <div class="col">
            <h1>General Statistics
                <hr>
            </h1>
        </div>
    </div>

     <div class="row d-flex justify-content-center">
        <script>
            time_list = {{ time_list | safe }}
            expenses_list = {{ expenses_list | safe }}
            income_list = {{ income_list | safe }}
        </script>
        <div class="col-lg-10">
            <canvas id="general_chart" class="chartjs"></canvas>

        </div>


        <script src="{% static 'js/general/general_manager.js' %}"></script>




</div>