{% load static %}
<div class="container-fluid">

    <div class="row">
        <div class="col">
            <h1>Start
                <hr>
            </h1>
        </div>
    </div>


    <div class="row d-flex justify-content-center">
        <script src="{% static 'js/start/start_manager.js' %}"></script>
        <div class="col-lg-10 d-flex justify-content-center">
            <canvas id="center-chart" class="chartjs col-lg-5" width="1600" height="1600" ></canvas>
        </div>

    </div>


</div>