@font-face {
    font-family: 'Courgette';
    src: url("../fonts/Courgette-Regular.ttf");
}
@font-face {
    font-family: "Noto Sans KR";
    src: url("../fonts/NotoSansKR-Regular.otf");
}

.navbar {
    background-color: rebeccapurple;
}
.navbar .nav-link {
    font-family: "Noto Sans KR", sans-serif;
    font-size: large;
    color: white;
}
.navbar-brand {
    font-family: 'Courgette', coursive;
    font-size: xx-large;
    color: white;
}
.navbar-brand:hover {
    color: white;
}

.page-footer {
    background-color: rebeccapurple;
    color: white;

}

.octicon {
  display: inline-block;
  /*vertical-align: top;*/
  fill: currentColor;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.alert {
  opacity:0;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:1s;
}

.alert.alert-success {
    animation-delay: 0.5s;
}

.alert.alert-warning {
        animation-delay: 0.4s;

}
.table {
  opacity:0;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:1s;
}