{% extends 'base.html' %}
{% load static %}
{% block additional_static %}
    <link rel="stylesheet" href="{% static "css/authorization/form.css" %}">
    <script src="{% static "js/authorization/form.js" %}"></script>
{% endblock %}
{% block content %}
    <div class="container">

        <div class="col-lg-6 col-sm-12 mx-auto h-100 mb-3">
            <form method="post" novalidate>
                <h1>Register</h1>
                {% csrf_token %}
                <label>
                    <p class="label-txt">CHOOSE YOUR USERNAME</p>
                    {{ form.username }}
                    <div class="line-box">
                        <div class="line"></div>
                    </div>
                    {% if form.username.errors %}
                        <div class="alert alert-danger font-italic mt-1" role="alert">
                            {{ form.username.errors.as_text }}
                        </div>
                    {% endif %}
                </label>
                <label>
                    <p class="label-txt">ENTER YOUR FIRST NAME</p>
                    {{ form.first_name }}
                    <div class="line-box">
                        <div class="line"></div>
                    </div>
                    {% if form.first_name.errors %}
                        <div class="alert alert-danger font-italic mt-1" role="alert">
                            {{ form.first_name.errors.as_text }}
                        </div>
                    {% endif %}
                </label>
                <label>
                    <p class="label-txt">ENTER YOUR LAST NAME</p>
                    {{ form.last_name }}
                    <div class="line-box">
                        <div class="line"></div>
                    </div>
                    {% if form.last_name.errors %}
                        <div class="alert alert-danger font-italic mt-1" role="alert">
                            {{ form.last_name.errors.as_text }}
                        </div>
                    {% endif %}
                </label>
                <label>
                    <p class="label-txt">ENTER YOUR EMAIL</p>
                    {{ form.email }}
                    <div class="line-box">
                        <div class="line"></div>
                    </div>
                    {% if form.email.errors %}
                        <div class="alert alert-danger font-italic mt-1" role="alert">
                            {{ form.email.errors.as_text }}
                        </div>
                    {% endif %}
                </label>
                <label>
                    <p class="label-txt">ENTER YOUR PASSWORD</p>
                    {{ form.password1 }}
                    <div class="line-box">
                        <div class="line"></div>
                    </div>
                    {% if form.password1.errors %}
                        <div class="alert alert-danger font-italic mt-1" role="alert">
                            {{ form.password1.errors.as_text }}
                        </div>
                    {% endif %}
                </label>
                <label>
                    <p class="label-txt">CONFIRM YOUR PASSWORD</p>
                    {{ form.password2 }}
                    <div class="line-box">
                        <div class="line"></div>
                    </div>
                    {% if form.password2.errors %}
                        <div class="alert alert-danger font-italic mt-1" role="alert">
                            {{ form.password2.errors.as_text }}
                        </div>
                    {% endif %}
                </label>


                <button type="submit" class="align-self-center">Join!</button>
            </form>
        </div>

    </div>
{% endblock %}